<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2"><br><br>
            <h3>Signup for Wanderlust</h3>
            <form method="POST" action="/signup" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input name="email" id="email" type="email" class="form-control" required>
                    <div class="invalid-feedback">Please enter your email.</div>
                
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" required>
                    <div class="invalid-feedback">Enter a strong password!</div>
                
                </div>

                <button class="btn btn-success">Signup</button>





            </form>


        </div>
    </div>





























</body>